    
<div class="container-fluid col-md-8 mx-auto pt-5">

    <form class="form-inline" #trainsearchForm="ngForm" (ngSubmit)="trainsearch(trainsearchForm.value)">

        <div class="form-group">
            <label for="fromStation">From:</label>
            <input required type="text" ngModel name="fromStation" #fromStation="ngModel" class="form-control" id="fromStation" placeholder="Enter From station">
            <div class="alert alert-danger" *ngIf="fromStation.touched && !fromStation.valid">
                <div *ngIf="fromStation.errors.required">From Station is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="toStation">To:</label>
            <input required type="text" ngModel name="toStation" #toStation="ngModel" class="form-control" id="toStation" placeholder="Enter To station">
            <div class="alert alert-danger" *ngIf="toStation.touched && !toStation.valid">
                <div *ngIf="toStation.errors.required">To Station is required.</div>
            </div>
        </div>

        <div class="form-group">
          <label for="travelDate">Travel Date:</label>
          <input required type="date" ngModel name="travelDate" #travelDate="ngModel" class="form-control" id="travelDate" name="travelDate">
          <div class="alert alert-danger" *ngIf="travelDate.touched && !travelDate.valid">
              <div *ngIf="travelDate.errors.required">Travel Date is required.</div>
          </div>
      </div>
    
        
        <button type="submit" class="btn btn-primary" [class.disabled]="!trainsearchForm.valid">search</button>
    </form>
</div>

<div *ngIf="trains" class="container-fluid pt-5">

    <div class="container">          
        <table *ngIf="trains" class="table table-bordered">
          <thead>
            <tr>
              <th>Train No</th>
              <th>Train Name</th>
              <th>Available seats</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let train of trains">
              <td>{{train.trainnumber}}</td>
              <td>{{train.name}}</td>
              <td>{{train.available_seats}}</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

<router-outlet></router-outlet>